<h1>User Profile</h1>

<h3><%= @user.name %></h3>
<h3><%= @user.email %></h3>


<%= render 'friend_requests' %>


<% if @friends %>
<h3>Friends: </h3>
	<ul>
		<% @friends.each do | friend | %>
			<li><%= link_to friend.name, friend %></li>
		<% end %>
	</ul>
<% end %>
